/* You can add global styles to this file, and also import other style files */
@import './styles/init-css'; //normalise
@import './styles/colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); // fonts
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200'); //icons
@import '~primeflex/primeflex.css'; // primeflex

@import '~primeicons/primeicons.css'; // PrimeNG Icons
@import '~primeng/resources/themes/arya-orange/theme.css'; // PrimeNG Theme
@import '~primeng/resources/primeng.min.css'; // PrimeNG main

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $white;
  background-color: $bgColor;
}

a {
  text-decoration: none;
  color: $white;
}

.app-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0.5rem;
  padding: 0.5rem;
}
